head{
    color: black;
    background-color: skyblue;
    font-size: 45px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: black;
    background-color: skyblue;
    font-size: 45px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
div{
    color: black;
    background-color: blanchedalmond;
    font-size: 45px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

}
h1{
    color: blue;
    background-color: cornsilk;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
}
