h1{
    color: aqua;
    background-color: chocolate;
    font-size: 30px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
}
p{
    color:crimson;
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 3;
    column-gap: 20px;

}
ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    border: 4px dotted #df4365;
    border-left: 8px dashed olivedrab;
}
li{
    list-style-type:none;
    text-shadow: 2px 2px #E9E9E9;; 
}